<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>

<h3>Agregar Molde</h3>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'partesmoldes',
    array(
       'controller' => 'Partesmoldes',
        'action'     => 'agregarmolde',
        'id'     =>  $this->partes_id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Molde: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('id_molde')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Parte: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('id_parte')); ?>
           </div>
  </div>    





<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>


<?php echo $this->form()->closeTag();?>  
</div></div>
<p>
  
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
   
    <th>Molde</th>
    <th>Descripcion</th>
    <th>Status</th>
    <th>Eliminar Molde</th>
  
</thead>
<?php //while($moldes = $this->moldes->current()): ?>
<?php foreach($this->moldes as $moldes): ?>
<tr>

    <td align="center"> <?php  echo $this->escapeHtml($moldes['molde']);?></td>
    <td><?php echo $this->escapeHtml($moldes['descripcion']);?> </td>
    <td align="center"><?php echo $this->escapeHtml($moldes['nstatus']);?> </td>
    <td align="center">

        <a href="<?php echo $this->url('partes2',
            array(
                  'id' => $moldes['mparte_id'],                 
                 
                  ));?>">Borrar Molde</a>
        
    </td>
</tr>
<?php endforeach; ?>
</table>




<script type="text/javascript">
       $(function() {
       $("#molde").jCombo('<?php echo $this->url('asyn',
               
               array('controller' => 'AsynController','action'=>'getMoldes')); ?>', { selected_value : '1' } );
       
        
        
           
       $("#btn_getvalues").click(function() {
       $("#val_molde").html($("#molde").val() + " => " + $("#molde option:selected").html());             
                    return false;
                    });
                    });



$(function() {
       $("#parte").jCombo('<?php echo $this->url('asyn',
               
               array('controller' => 'AsynController','action'=>'getPartes')); ?>', { selected_value : '<?php echo $this->partes_id; ?>' } );
       

       $("#btn_getvalues").click(function() {
       $("#val_molde").html($("#parte").val() + " => " + $("#parte option:selected").html());             
                    return false;
                    });
                    });

    </script>
</div>