<?php


$title = 'Eliminar Molde';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar la relacion <strong>molde '<?php echo $this->escapeHtml($this->moldes->molde); ?>' </strong>de la <strong>parte 
    '<?php echo $this->escapeHtml($this->partes->num_parte);   echo '-'. $this->escapeHtml($this->partes->descripcion); ?>' </strong>?
</p>
<?php
$url = $this->url('partes2', array(
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $this->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>