<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
   
    <th>Núm parte</th>
    <th>Descripción</th>
    <th>Moldes Registrados</th>
  
    <th>Acciones</th>
</thead>
<?php while($partes = $this->partes->current()): ?>
<tr>

    <td align="center"><?php echo $this->escapeHtml($partes->num_parte);?></td>
    <td><?php echo $this->escapeHtml($partes->descripcion);?> </td>
    <td align="center"><?php echo $this->MoldepartesHelper($partes->id);?></td>
   
     <td align="center">
         <a href="<?php echo $this->url('partesmoldes',
            array('action'=>'agregarmolde', 'id' => $partes->id));?>">Agregar Molde</a>
       
    </td>
</tr>
<?php endwhile; ?>
</table>








