<h3>Agregar Familia</h3>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'familias',
    array(
       'controller' => 'Familias',
        'action'     => 'agregar',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Nombre Familia: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('familia')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Descripcion(Si aplica): </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('descripcion')); ?>
           </div>
  </div>    

 


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>