<?php


$title = 'Eliminar Familia';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar la relacion <strong>molde '<?php echo $this->escapeHtml($this->familia); echo $this->escapeHtml($this->descripcion); ?>' ?
</p>
<?php
$url = $this->url('familias', array(
	'controller' => 'Familias',
	'action' => 'eliminar',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $this->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>