<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('familias', array('action'=>'Agregar'));?>">Agregar Familia (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
   
    <th>Id</th>
    <th>Familia</th>
    <th>Descripción</th>

    <th>Acciones</th>
</thead>
<?php while($familia = $this->familia->current()): ?>
<tr>

    <td><?php echo $this->escapeHtml($familia['id']);?></td>
    <td><?php echo $this->escapeHtml($familia['familia']);?> </td>
    <td align="center"><?php echo $this->escapeHtml($familia['descripcion']);?> </td>
    <td align="center">

        <a href="<?php echo $this->url('familias',
            array('action'=>'editar', 'id' => $familia['id']));?>">Editar</a>
        <a href="<?php echo $this->url('familias',
            array('action'=>'eliminar', 'id' => $familia['id']));?>">Borrar</a>
    </td>
</tr>
<?php endwhile; ?>
</table>








