
<?php

$this->headTitle($this->titulo);
$url_order = 'ASC';

if ($order_by == 'id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'timestamp')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'accion')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'user')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'descripcion')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';


?>


<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>
<p></p><br>

<?php
    echo $this->paginationControl(
            $this->paginator2, 'Sliding', 'paginator-log', array('order_by' => $order_by, 'order' => $order)
    );
    ?>

<table class="table">
    <tr>
<th>
            <a href="<?php echo $this->url('logpaginator', array('order_by' => 'id', 'order' => $url_order)); ?>">ID <?php if ($order_by == 'id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
        </th>

        <th>
            <a href="<?php echo $this->url('logpaginator', array('order_by' => 'timestamp', 'order' => $url_order)); ?>">Fecha <?php if ($order_by == 'timestamp'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
        </th>
        <th>
            <a href="<?php echo $this->url('logpaginator', array('order_by' => 'accion', 'order' => $url_order)); ?>">Evento <?php if ($order_by == 'accion'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></th>

            <th align="center">
            <a href="<?php echo $this->url('logpaginator', array('order_by' => 'user', 'order' => $url_order)); ?>">Usuario <?php if ($order_by == 'user'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>
            <th>
            <a href="<?php echo $this->url('logpaginator', array('order_by' => 'descripcion', 'order' => $url_order)); ?>">Descripcion <?php if ($order_by == 'descripcion'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>

           
    </tr>
    <?php foreach ($paginator as $album) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($album->id); ?></td>
            <td><?php echo $this->fechaHelper($album->timestamp); ?></td>
            <td align="center"><?php echo $this->escapeHtml($album->accion); ?></td>
            <td><?php echo $this->escapeHtml($album->user); ?></td>
            <td align="center"><?php echo $this->escapeHtml($album->descripcion); ?></td>
          

 

   


         
        </tr>
    <?php endforeach; ?>
</table>

<?php
    echo $this->paginationControl(
            $paginator, 'Sliding', 'paginator-log', array('order_by' => $order_by, 'order' => $order)
    );
    ?>