<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable(
    {
        "bAutoWidth": false,
        "iDisplayLength": 25
    }
    );
    
} );
</script>


<?php
$title = 'Registro de Sistema';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<div >

<table id="example" syle="float: left;" class="display dataTable" width="50%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 50%;">
<thead>
    <th>ID</th>
    <th>Fecha Hora</th>
    <th>Evento</th>
    <th>Usuario</th>
    <th>Descripción</th>
    <th>Detalles Extra</th>

</thead>

<?php foreach ($system_log as $event) : ?>
<tr>
    <td style="width: 5%;" align="center"><?php echo $this->escapeHtml($event->id);?></td>
    <td style="width: 12%;" align="center"><?php echo $this->fechaHelper($event->timestamp);?></td>
    <td style="width: 20%;"><?php echo $this->escapeHtml($event->accion);?> </td>
    <td style="width: 8%;" align="center"><?php echo $this->escapeHtml($event->user);?> </td>
    <td><?php echo $this->escapeHtml($event->descripcion);?> </td>
    <td style="max-width: 300px;">
        <?php 
                $temp = substr($event->detalles_extra, 0,50);
        echo $this->escapeHtml($temp);?> 
    
    </td>
</tr>
<?php endforeach; ?>
</table>

</div>
