/** Custom Logistica **/

.toggle-destino{
    display:none;
}

.toggle-label{
    display: inline;
}

#lista_almacenes ul{
    position:relative;
    width:auto;
}

#lista_almacenes .ui-autocomplete {
    width: 216px !important;
}
