
<?php
$title = 'Editar Usuario';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


<div class="agregaUsuario">
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'usuarios',
    array(
        'action' => 'editar',
        'id'     => $this->id,
    )
));



$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre"># Tress: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('tress_id')); ?>
           </div>
  </div>    

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Nombre: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('nombre')); ?>
           </div>
  </div>    
    
  <div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Apellidos </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('apellidos')); ?>
           </div>
  </div>      

  <div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Email: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('email')); ?>
           </div>
  </div>      

    
  <div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Usuario: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('usuario')); ?>
           </div>
  </div>      

    
    <div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Password: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('password')); ?>
           </div>
  </div>    



  <div class="form-group">
      <label class="col-sm-4 control-label" for="Nombre">Rol: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('rol')); ?>
           </div>
  </div>    


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>
<?php
echo $this->form()->closeTag();?>
<script type="text/javascript">
       $(function() {
       $("#rol").jCombo('<?php echo $this->url('asyn',
               
               array('controller' => 'AsynController','action'=>'getUsuarioRoles')); ?>', { selected_value : '<?php echo $this->rol; ?>'} );
       
        
        
           
       $("#btn_getvalues").click(function() {
       $("#val_rol").html($("#rol").val() + " => " + $("#rol option:selected").html());             
                    return false;
                    });
                    });
    </script>
</div>
