<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable();
} );


$('.dropdown-toggle').dropdown()
</script>


<?php
$title = 'Usuarios de Sistema';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


<p>
   <span class="glyphicon glyphicon-user"></span> <a href="<?php echo $this->url('usuarios', array('action'=>'Agregar'));?>">Agregar Usuario (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
    <th>Nombre</th>
    <th>Apellidos</th>

    <th>Tipo Usuario</th>
    <th>Email</th>
    <th>Username</th>
    <th> </th>
    
</thead>
<?php foreach ($usuarios as $user) : ?>
<tr>
    <td><?php echo $this->escapeHtml($user['nombre']);?></td>
    <td><?php echo $this->escapeHtml($user['apellidos']);?></td>

    <td><?php echo $this->escapeHtml($user['tipousuario']);?> </td>
    <td><?php echo $this->escapeHtml($user['email']);?> </td>
    <td><?php echo $this->escapeHtml($user['usuario']);?> </td>
    <td align="center">
        
        
        
        <a href="<?php echo $this->url('usuarios',
            array('action'=>'editar', 'id' => $user['id']));?>">Editar</a>
        <a href="<?php echo $this->url('usuarios',
            array('action'=>'Eliminar', 'id' => $user['id']));?>">Borrar</a>
    </td>
    
</tr>
<?php endforeach; ?>
</table>








