<h3>Editar Parte</h3>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'partes',
    array(
       'controller' => 'Partes',
        'action'     => 'editar',
        'id'     => $this->id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Número Parte: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('num_parte')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Descripción: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('descripcion')); ?>
           </div>
  </div>    

 
  <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Familia: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('familia')); ?>
           </div>
  </div>    

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">División: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('division')); ?>
           </div>
  </div>    



<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    
<script type="text/javascript">
       $(function() {
       $("#familia").jCombo('<?php echo $this->url('asyn',
               
               array('controller' => 'AsynController','action'=>'getFamilias')); ?>', { selected_value : '<?php echo $this->familia_id; ?>' } );
       
        
        
           
       $("#btn_getvalues").click(function() {
       $("#val_rol").html($("#familia").val() + " => " + $("#familia option:selected").html());             
                    return false;
                    });
                    });
    </script>
</div>