<?php


$title = 'Eliminar Parte';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar el numero de parte: 
    '<?php echo $this->escapeHtml($parte->num_parte); ?>' 
    '<?php echo $this->escapeHtml($parte->descripcion); ?>'?
</p>
<?php
$url = $this->url('partes', array(
    'action' => 'eliminar',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $partes->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>