<script type="text/javascript">
 $(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});






$('form').submit(function(){
    $(this).children('input[type=submit]').atrr('disabled', true);
});

</script>

<?php
$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'reginspeccion',
    array(
       'controller' => 'RegistroInspeccion',
        'action'     => 'agregar',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Fecha: </label>
       <div class="col-sm-5">
       <?php echo $this->formRow($form->get('fecha_captura_turno')); ?>
           </div>
</div>  
    

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Máquina: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('maquina_id')); ?>
           </div>
</div>
<div class="form-group">
 <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Cambio de Turno: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('cambio_turno')); ?>
           </div>
  </div>   


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Molde: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('moldes_id')); ?>
           </div>
  </div>   

 <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Partes: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('partes_id')); ?>
           </div>
  </div>   


 <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Núm Recorrido: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('numero_recorrido')); ?>
           </div>
  </div>    
  

<div class="search">

   <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Capturado por: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('capturista')); ?>

      <div id="search2_suggest" style=" " align="left"></div>
     </div>
  </div> 

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Inspector Dimensional: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('inspector_dimensional')); ?>
       <div id="search_suggest" style=" " align="left"></div>
           </div>
</div> 


     <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Inspector Visual: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('inspector_visual')); ?>
      <div id="search3_suggest" style="" align="left"></div>
           </div>
  </div> 


</div>


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>
<script type="text/javascript">
       $(function() {
       $("#fechacaptura").jCombo('<?php echo $this->url('async',
               array('controller' => 'AsyncController','action'=>'getRecorridos2')); ?>', { selected_value : '1' } );
       
       $("#maquinas").jCombo("<?php echo $this->url('async',
        array('action' => 'getmaquinasleft')); ?>/", { 
          parent: "#fechacaptura", 
          parent_value: '1', 
          selected_value: '0' 
        });   
        
           
       $("#btn_getvalues").click(function() {
       $("#val_rol").html($("#fechacaptura").val() + " => " + $("#fechacaptura option:selected").html());             
                    return false;
                    });
                    });


       $(function() {
       $("#moldes").jCombo('<?php echo $this->url('asyn',
              array('controller' => 'AsynController','action'=>'getMoldes')); ?>', { selected_value : '1' } );
       
       $("#partes").jCombo("<?php echo $this->url('async',
        array('action' => 'getMoldespartes')); ?>/", { 
          parent: "#moldes", 
          parent_value: '1', 
          selected_value: '1' 
        });   
        
        
           
       $("#btn_getvalues").click(function() {
       $("#val_moldes").html($("#moldes").val() + " => " + $("#moldes option:selected").html());             
                    return false;
                    });
                    });

    </script>




</div>