<script type="text/javascript">
$(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});
</script>

<script type="text/javascript"> 
    $(document).ready(function(){
      // find the input fields and apply the time select to them.
    $('#hora_recibido input').ptTimeSelect();
    });
</script>

<?php
$this->headTitle($this->titulo);
?>
<div class="datosInformacionAgregar">
 <div class="infoHeastitle"> Datos Inspección </div>

 <div class="infoBottomLine">
  <div class="infoHead">Fecha: <strong><?php echo $this->datos_ri->fecha_captura; ?></strong></div> 
  <div class="infoHead">Turno: <strong><?php echo $this->datos_ri->turno; ?></strong></div> 
  <div class="infoHead">Recorrido: <strong><?php echo $this->datos_ri->numero_recorrido; ?></strong></div> 
   <div class="infoHead">Máquina: <strong><?php echo $this->MaquinasNombreHelper($this->datos_ri->maquina_id); ?></strong></div> 
  <div class="infoHead">Molde: <strong><?php echo $this->MoldeNombreHelper($this->datos_ri->moldes_id); ?></strong></div> 
   <div class="infoHead"># Parte: <strong><?php echo $this->PartesNombreHelper($this->datos_ri->partes_id); ?></strong></div> 
 </div>
<div class="infoBottomLine2">
</div>
</div>


<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>



<div class="agregaUsuario" >
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'reginspeccion',
    array(
       'controller' => 'RegistroInspeccion',
        'action'    => 'agregavis',
        'id'        =>  $this->insp_id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<?php  foreach($this->sql_defectos as $row):  ?>

<div   class="control2-group">
       <label  class="control2-label" for="Nombre"><?php echo $row['text']; ?></label>
       <div class="col-sm-4">
        <table >
          <tr>
        <td align="center" style="font-size: 11px;">cantidad</td>

      </tr>
      <tr>
        <td>
       <?php echo $this->formRow($form->get("cantidad{$row['id']}")); ?>
      </td>
      
</tr>
        </table>
           </div>
  </div>  

<?php endforeach; ?>


<hr>
<br><br>
<p></p>


<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Cantidad Inspeccionada: </label>
       <div class="col-sm-4">
          <?php echo $this->formRow($form->get('cantidad_inspeccionada')); ?>
       </div>
</div>   

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Cantidad Liberada: </label>
       <div class="col-sm-4">
          <?php echo $this->formRow($form->get('cantidad_liberada')); ?>
       </div>
</div> 

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Cantidad Rechazada: </label>
       <div class="col-sm-4">
          <?php echo $this->formRow($form->get('cantidad_rechazada')); ?>
       </div>
</div> 

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Total Defectos: </label>
       <div class="col-sm-4">
          <?php echo $this->formRow($form->get('total_defectos')); ?>
       </div>
</div> 

<div class="form-group">
       <label class="col-sm-4 control-label" for="Nombre">Comentarios: </label>
       <div class="col-sm-4">
          <?php echo $this->formRow($form->get('comentarios')); ?>
       </div>
</div> 

<hr>

<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>
<script>

$().ready = function() {
    $("#checkMeOut2").click(function() {
        $('#row1').toggle();


    });

}();


 </script>   

<script>

$().ready = function() {

    
    $("#checkMeOut").click(function() {
        $('#horas').toggle();
        $('#label_primera').toggle();
        $('#minutos').toggle();
        $('#segundos').toggle();

        $('#horas_cal').toggle();
        $('#label_primera_cal').toggle();
        $('#minutos_cal').toggle();
        $('#segundos_cal').toggle();

        $('#horas_tip').toggle();
        $('#label_primera_tip').toggle();
        $('#minutos_tip').toggle();
        $('#segundos_tip').toggle();
        
        $('#resultado_quest').toggle();
    $('#resultado').toggle();

    }
    );

}();


 </script>   



</div>