<script type="text/javascript">
$(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
      // find the input fields and apply the time select to them.
    $('#hora_recibido input').ptTimeSelect();
    });
</script>


<?php

$this->headTitle($this->titulo);
?>



<div class="datosInformacion">
 <div class="infoHeastitle"> Datos Inspeccion </div>

 <div class="infoBottomLine">
  <div class="infoHead">Fecha: <strong><?php echo $this->datos_ri->fecha_captura; ?></strong></div> 
  <div class="infoHead">Turno: <strong><?php echo $this->datos_ri->turno; ?></strong></div> 
  <div class="infoHead">Recorrido: <strong><?php echo $this->datos_ri->numero_recorrido; ?></strong></div> 
   <div class="infoHead">Maquina: <strong><?php echo $this->MaquinasNombreHelper($this->datos_ri->maquina_id); ?></strong></div> 
  <div class="infoHead">Molde: <strong><?php echo $this->MoldeNombreHelper($this->datos_ri->moldes_id); ?></strong></div> 
   <div class="infoHead"># Parte: <strong><?php echo $this->PartesNombreHelper($this->datos_ri->partes_id); ?></strong></div> 
</div>
<div class="infoBottomLine2" align="center">

  <a href="<?php echo $this->url('inspdimensional',array( 
                                 'controller' => 'InspDimensional',
                                 'action'     => 'regfueraespec',
                                 'id'     => $this->insp_id,));?>">Agregar/Editar Fuera Especificacion</a>

</div>

 


</div>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>

<div class="agregaUsuario" >
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'reginspeccionedit',
    array(
       'controller' => 'RegistroInspeccion',
        'action'    => 'editardim',
        'id_insp'        =>  $this->insp_id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Cantidad Inspeccion: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('cantidad_inspeccion')); ?>
           </div>
  </div>    
    
 

    

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Fuera Especificacion: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('fuera_especificacion')); ?>
           </div>
  </div>   


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Cantidad Rechazada: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('cantidad_rechazada')); ?>
           </div>
  </div>   


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Comentarios: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('comentarios')); ?>
           </div>
  </div>   
 
<hr>


 <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre"><strong>Primera Corrida: </strong></label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('primera_corrida')); ?>
           </div>
  </div>    
  
    <div class="form-group">
       <label id="label_primera" class="col-sm-4 col-sm-4 control-label" for="Nombre">Hora Recibido: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('horas')); ?>
       <?php echo $this->formRow($form->get('minutos')); ?>
       <?php echo $this->formRow($form->get('segundos')); ?>
       </div>
  </div>   


    <div class="form-group">
       <label id="label_primera_cal"  class="col-sm-4 col-sm-4 control-label" for="Nombre">Hora Calificacion: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('horas_cal')); ?>
       <?php echo $this->formRow($form->get('minutos_cal')); ?>
       <?php echo $this->formRow($form->get('segundos_cal')); ?>
       </div>
  </div>  

  <div class="form-group">
       <label id="label_primera_tip" class="col-sm-4 col-sm-4 control-label" for="Nombre">Tip Sheet: </label>
       <div class="col-sm-4">
      <?php echo $this->formRow($form->get('tip_sheet')); ?>
       </div>
  </div>  







 <div class="form-group">
       <label id="resultado_quest" class="col-sm-4 col-sm-4 control-label" for="Nombre">Como Salio? </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('resultado')); ?>
           </div>
  </div> 

<hr>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre"><strong>Prueba Funcional?</strong></label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('prueba_funcional')); ?>
           </div>
  </div>   


<?php for($i=1; $i<=8; $i++): ?>
<div   class="form-group">
<label  class="col-sm-4 col-sm-4 control-label" for="Nombre"><?php echo "Burst test {$i}"; ?></label>
 <div class="col-sm-4">
    <table>
       <tr>
        <td align="center" style="font-size: 11px;">Cavidad</td>
      <td align="center" style="font-size: 11px;"> Medida </td>
      </tr>
<tr>
        <td>
       <?php  $cavidad = "cavidad{$i}";       echo $this->formRow($form->get($cavidad)); ?>
      </td>
      <td>
     <?php  $medida = "medida{$i}";       echo $this->formRow($form->get($medida)); ?>
    </td>
</tr>

    </table>
</div>
</div>
<?php endfor; ?>


<hr>



<?php while($row = $this->sql_conceptos->current()): ?>

<div   class="form-group">
       <label  class="col-sm-4 col-sm-4 control-label" for="Nombre"><?php echo $row->prueba; ?></label>
       <div class="col-sm-4">
        <table >
          <tr>
        <td align="center" style="font-size: 11px;">Tamaño</td>
      <td align="center" style="font-size: 11px;"> Rechazado </td>
      </tr>
      <tr>
        <td>
       <?php echo $this->formRow($form->get($row->form_name_muestra)); ?>
      </td>
      <td>
      <?php echo $this->formRow($form->get($row->form_name_rechazado)); ?>
    </td>
</tr>
        </table>
           </div>
  </div>  


<?php endwhile; ?>






<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>
<script>

$().ready = function() {

    
    $("#checkMeOut2").click(function() {
        $('#row1').toggle();


    });

}();


 </script>   

<script>

$().ready = function() {

    
    $("#checkMeOut").click(function() {
        $('#horas').toggle();
        $('#label_primera').toggle();
        $('#minutos').toggle();
        $('#segundos').toggle();

        $('#horas_cal').toggle();
        $('#label_primera_cal').toggle();
        $('#minutos_cal').toggle();
        $('#segundos_cal').toggle();

        $('#horas_tip').toggle();
        $('#label_primera_tip').toggle();
        $('#minutos_tip').toggle();
        $('#segundos_tip').toggle();
         $('#tip_sheet').toggle();
        $('#resultado_quest').toggle();
    $('#resultado').toggle();

    }
    );

}();


 </script>   



</div>