<?php


$title = 'Eliminar Registro de Inspeccion';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar el siguiente registro:
</p>
<br>

<li>
	 Fecha: <strong> <?php echo $this->escapeHtml($this->recorrido->fecha_captura); ?>  </strong>
</li>
 <li>
    Turno:  <strong> <?php echo $this->escapeHtml($this->recorrido->turno); ?> </strong>
</li>
 <li>
    Recorrido:  <strong> <?php echo $this->escapeHtml($this->recorrido->numero_recorrido); ?> </strong>

</li>
 <li>
    Maquina:  <strong> <?php echo $this->MaquinasNombreHelper($this->recorrido->maquina_id); ?> </strong>

</li>

 <li>
    Molde:  <strong> <?php echo $this->MoldeNombreHelper($this->recorrido->moldes_id); ?> </strong>

</li>

 <li>
    Partes:  <strong> <?php echo $this->PartesNombreHelper($this->recorrido->partes_id); ?> </strong>

</li>

</p>
<br>
<?php
$url = $this->url('reginspeccion', array(
    'action' => 'eliminar',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $maquinasactivas->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>