
<?php

$this->headTitle($this->titulo);
$url_order = 'ASC';

if ($order_by == 'fecha_captura')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'turno')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'numero_recorrido')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'capturista')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'maquina_id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'moldes_id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'partes_id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';


?>


<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('reginspeccion', array('action'=>'Agregar'));?>">Agregar Inspección (+)</a>
</p>



<?php
    echo $this->paginationControl(
            $this->paginator, 'Elastic', 'paginator-slide', array('order_by' => $order_by, 'order' => $order)
    );
    ?>

<table class="table">
    <tr>
         <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'id', 'order' => $url_order)); ?>">BD ID <?php if ($order_by == 'id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>


        <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'fecha_captura', 'order' => $url_order)); ?>">Fecha Captura <?php if ($order_by == 'fecha_captura'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
        </th>
        <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'turno', 'order' => $url_order)); ?>">Turno <?php if ($order_by == 'turno'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></th>

            <th align="center">
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'numero_recorrido', 'order' => $url_order)); ?>">Recorrido <?php if ($order_by == 'numero_recorrido'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>
            <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'capturista', 'order' => $url_order)); ?>">Capturista <?php if ($order_by == 'capturista'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>

            <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'maquina_id', 'order' => $url_order)); ?>">Maquina <?php if ($order_by == 'maquina_id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>

         <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'moldes_id', 'order' => $url_order)); ?>">Molde <?php if ($order_by == 'moldes_id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>
 <th>
            <a href="<?php echo $this->url('paginator2', array('order_by' => 'partes_id', 'order' => $url_order)); ?>">Parte <?php if ($order_by == 'partes_id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
            </th>
            <th>
            Defectos Dim 
            </th>
            <th>
            Defectos Vis 
            </th>
            <th>
            Insp Visual 
            </th>

            <th>
             Insp Dimensional 
            </th>

             <th>
             Acciones 
            </th>


    </tr>
    <?php foreach ($paginator as $album) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($album->id); ?></td>
            <td><?php echo $this->fechaHelper($album->fecha_captura,true,true); ?></td>
            <td><?php echo $this->escapeHtml($album->turno); ?></td>
            <td align="center"><?php echo $this->escapeHtml($album->numero_recorrido); ?></td>
            <td><?php echo $this->UsuariosHelper($album->capturista); ?></td>
            <td align="center"><?php echo $this->MaquinasNombreHelper($album->maquina_id); ?></td>
            <td><?php echo $this->MoldeNombreHelper($album->moldes_id); ?></td>
            <td><?php echo $this->PartesNombreHelper($album->partes_id); ?></td>
            <td><?php echo $this->SumFueraEspecDimHelper($album->id); ?></td>
            <td><?php echo $this->SumDefectosVisualesHelper($album->id); ?></td>

 <td align="center"> 
<?php 
          if($this->InspVisualHelper($album->id))
         {

   ?>
                 <a href="<?php echo  $this->url('reginspeccionvedit',
                        array('action'=>'editavis', 'id_insp' => $album->id)); ?>">Editar IV</a>
<?php        
        }else{
                ?>
                 <a href="<?php echo  $this->url('reginspeccion',
                        array('action'=>'agregavis', 'id' => $album->id)); ?>">Agrega IV</a>
<?php
            }

            ?>
    </td>

    <td align="center"> 
            <?php 
            if($this->InspDimensionalHelper($album->id))
            {
                 ?>
                 <a href="<?php echo  $this->url('reginspeccionedit',
                        array('action'=>'editardim', 'id_insp' => $album->id)); ?>">Editar ID</a>
<?php
            }else{
                ?>
                 <a href="<?php echo  $this->url('reginspeccion',
                        array('action'=>'agregadim', 'id' => $album->id)); ?>">Agrega ID</a>
<?php
           }
            ?>
    </td>

<td align="center">
           <a href="<?php echo $this->url('reginspeccion',
            array('action'=>'editar', 'id' => $album->id));?>">Editar</a>
        <a href="<?php echo $this->url('reginspeccion',
            array('action'=>'Eliminar', 'id' => $album->id));?>">Borrar</a>

     </td>

         
        </tr>
    <?php endforeach; ?>
</table>

