<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":50
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('reginspeccion', array('action'=>'Agregar'));?>">Agregar Inspección (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
    <th>Fecha Captura</th>
    <th>Turno</th>
    <th>Recorrido</th>
    <th>Capturista</th>
    <th>Máquina</th>
    <th>Molde</th>
    <th>Parte</th>
    <th>Total Rechazos</th>
    <th>Insp Visual</th>
    <th>Insp Dimensional</th>
    <th>Acciones</th>

</thead>

<?php foreach($this->paginator as $registro): ?>
<?php //while($registro = $this->registro->current()): ?>
<tr>
    <td align="center"> <?php echo $this->fechaHelper($registro['fecha_ca1ptura'],true,true); //echo $this->fechaHelper($registro->fecha_captura,true);?></td>
    <td align="center"><?php echo $this->escapeHtml($registro['turno']);?> </td>
	<td align="center"><?php echo $this->escapeHtml($registro['numero_recorrido']);?> </td>
    <td align="center"><?php echo $this->UsuariosHelper($registro['capturista']);    //        echo $this->UsuariosHelper($registro->capturista);?> </td>
    <td align="center"><?php echo $this->MaquinasNombreHelper($registro['maquina_id']);     //        echo $this->MaquinasNombreHelper($registro->maquina_id);?> </td>
    <td align="center"><?php  echo $this->MoldeNombreHelper($registro->moldes_id);?> </td>
    <td align="center"><?php   echo $this->PartesNombreHelper($registro->partes_id);?> </td>
    
    <td align="center"><?php echo $this->RegInspTotalFEHelper($registro->id);?> </td>

    <td align="center"> 
<?php 
          if($this->InspVisualHelper($registro->id))
         {

   ?>
                 <a href="<?php echo  $this->url('reginspeccionvedit',
                        array('action'=>'editavis', 'id_insp' => $registro->id)); ?>">Editar IV</a>
<?php        
        }else{
                ?>
                 <a href="<?php echo  $this->url('reginspeccion',
                        array('action'=>'agregavis', 'id' => $registro->id)); ?>">Agrega IV</a>
<?php
            
            }

            ?>

    </td>
    <td align="center"> 
            <?php 
            if($this->InspDimensionalHelper($registro->id))
            {
                 ?>
                 <a href="<?php echo  $this->url('reginspeccionedit',
                        array('action'=>'editardim', 'id_insp' => $registro->id)); ?>">Editar ID</a>
<?php
            
           // }

                      
            }else{
                ?>
                 <a href="<?php echo  $this->url('reginspeccion',
                        array('action'=>'agregadim', 'id' => $registro->id)); ?>">Agrega ID</a>
<?php
            
           }

            ?>
      
    </td>
    <td align="center">
           <a href="<?php echo $this->url('reginspeccion',
            array('action'=>'editar', 'id' => $registro->id));?>">Editar</a>
        <a href="<?php echo $this->url('reginspeccion',
            array('action'=>'Eliminar', 'id' => $registro->id));?>">Borrar</a>

     </td>
</tr>
<?php endforeach; ?>
</table>


<div  align="center"style="margin-top: 30px;">

<?php echo $this->paginationControl($this->paginator,
                                    'Sliding', // All, Elastic, Jumping, Sliding
                                    'search_pagination.phtml', array('route' => 'paginator')); ?>

 </div>