
<?php
$title = 'Editar Molde';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


<div class="agregaUsuario">
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'moldes',
    array(
        'action' => 'editar',
        'id'     => $this->id,
    )
));



$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Moldes: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('molde')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Descripcion(Si aplica): </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('descripcion')); ?>
           </div>
  </div>    

 
  <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Status: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('nstatus')); ?>
           </div>
  </div>    

<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>
<?php
echo $this->form()->closeTag();?>

</div>
