<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('moldes', array('action'=>'Agregar'));?>">Agregar Molde (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
   
    <th>Molde</th>
    <th>Descripción</th>
    <th>Nstatus</th>
    <th>Acciones</th>
</thead>
<?php while($moldes = $this->moldes->current()): ?>
<tr>

    <td><?php echo $this->escapeHtml($moldes->molde);?></td>
    <td><?php echo $this->escapeHtml($moldes->descripcion);?> </td>
    <td align="center"><?php echo $this->escapeHtml($moldes->nstatus);?> </td>
    <td align="center">

        <a href="<?php echo $this->url('moldes',
            array('action'=>'editar', 'id' => $moldes->id));?>">Editar</a>
        <a href="<?php echo $this->url('moldes',
            array('action'=>'Eliminar', 'id' => $moldes->id));?>">Borrar</a>
    </td>
</tr>
<?php endwhile; ?>
</table>








