<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: <?php echo $this->highChartsTitle; ?>
            },
            subtitle: {
                text: <?php echo $this->highChartsSubTitle; ?>
            },
            xAxis: [{
                 <?php  echo $this->cat; ?>,
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +' pzs';
                    },
                    style: {
                        color: '#339933'
                    }
                },
                title: {
                    text: 'QC DPPM',
                    style: {
                        color: '#339933'
                    }
                },
                opposite: true
    
            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Piezas Inspeccionadas',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value/1000000 +' Millones pzs';
                    },
                    style: {
                        color: '#4572A7'
                    }
                }
    
            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'QTY REJECTED',
                    style: {
                        color: '#000'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value/1000 +' Mil pzs';
                    },
                    style: {
                        color: '#000'
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: -10,
                verticalAlign: 'top',
                y: 150,
                floating: false,
               
            },
            series: [  <?php echo $obj->getData();?>, 

           ]
        });
    });
    
</script>


 <?php

echo $this->headTitle($this->titulo);
?>

<div style="float: left; width: 22%; margin-left: 25px; ">

 <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Selecciona el año') ?></h4>
            </div>
            <div class="panel-body">

<?php    
    $form = $this->formYear;
    $form->setAttribute('action', $this->url(
            'dppmgraph',
    array(
       'controller' => 'Dppmgraph',
        'action'     => 'index',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>
 <?php   echo $this->formHidden($form->get('family')); ?>

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Fecha: </label>
       <div class="col-sm-5">
       <?php echo $this->formRow($form->get('selectyear')); ?>
           </div>

           <?php echo $this->formRow($form->get('submit'));?>
  </div>   


<?php

echo $this->form()->closeTag();
?>


    

            </div>
        </div>
</div>
<div style="float: left; width: 43%;  " align="center">


<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>

</div>


<div style="float: left; width: 28%; margin-left: 25px; ">

 <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Familia del Producto') ?></h4>
            </div>
            <div class="panel-body">

<?php    
    $formFamily = $this->formFamily;
    $formFamily->setAttribute('action', $this->url(
            'dppmgraph',
    array(
       'controller' => 'Dppmgraph',
        'action'     => 'index',

    )
));
$formFamily->prepare();
echo $this->form()->openTag($formFamily);
?>

 <?php   echo $this->formHidden($formFamily->get('year')); ?>

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Familia: </label>
       <div class="col-sm-5">
       <?php echo $this->formRow($formFamily->get('selectfamily')); ?>
           </div>

           <?php echo $this->formRow($formFamily->get('submit'));?>
  </div>   





<?php

echo $this->form()->closeTag();
?>
    

            </div>
        </div>
</div>




<div id="container" style="max-width: 100%; height: 390px; margin-top: 20px;"></div>


<br><br>