/* 
    Document   : core
    Created on : Dec 20, 2012, 3:05:24 PM
    Author     : ArteDigital
    Description:
        Purpose of the stylesheet follows.
*/

p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.agregar {
    /*text-align: center;*/
    width: 400px;
    color: #68b604;
    
}


.navbar-inner {
    background-image: linear-gradient(to bottom,#005487,#005487) !important;
    color: #fff !important;
}

.navbar-inverse .nav>li>a {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}


.navbar .nav>.active>a:focus {
color: #555;
text-decoration: none;

-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}


.navbar-inner2 {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-image: linear-gradient(to bottom,#71756A,#3F413C) !important;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}


.divspace{
    width: 100%; 
    height:15px; 
    float: left;
}

label{
    margin-bottom: 0px;
}

table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 1em;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: -webkit-auto;
}


.blueBlackGroundDiv {
    padding-top:20px;
    background: none repeat scroll 0 0 #EBF4FB;
    border: 2px solid #B7DDF2;
    width:450px;
}

.myform{
	width: 420px;
	height: 500px;
	padding:14px;
}

.distribform{
	width: 420px;
	height: 458px;
	padding:14px;
}

.cplform{
	width: 440px;
	height: 730px;
	padding:14px;
}

.buscarhdform{
	width: 590px;
	height: 100px;
	padding:14px;
}


.direccionform{
	width: 400px;
	height: 658px;
	padding:14px;
}




/* Alturas temporales para los formularios */
.hdForm{
    width: 440px;
    height: 600px;
    padding:14px;
}

.particionForm{
    width: 440px;
    height: 230px;
    padding:14px;
}

.cinesForm{
    width: 440px;
    height: 800px;
    padding:14px;
}


.ubicacionForm{
    width: 40%; 
    margin-top:  25px;
    background-color: #ebf4fb; 
    border:solid 2px #b7ddf2;
    padding-bottom: 25px;
    padding-top: 5px;
}

.agregaUsuario{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 75%; 
    margin-top:  25px;
    background-color: #ebf4fb; 
    border:solid 2px #b7ddf2;
    padding-top: 25px;
    padding-bottom: 25px;
}

.datosInformacion{
    width: 62%;
    font-family: Arial;
    text-align: left;
    background-color: #F0C64F; 
    border:solid 2px #CF8A24;
    padding-top: 1%;
    padding-bottom: 1%;
}


.sideData{
    margin-left: 15px;
    color: #005487;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #E4E1DD; 
    width: 100%;
    border:solid 3px #BBC7CD;
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 10%;
}

.datosInformacionAgregar{
    width: 58%;
    font-family: Arial;
    text-align: left;
    background-color: #A7CA33; 
    border:solid 2px #CF8A24;
    padding-top: 1%;
    padding-bottom: 1.5%;
}


.infoBottomLine{
    float: none;
     width: 100%;
}

.infoBottomLine2{
    /*text-align: center;*/
    margin-top: 5%;
   /* float: left;*/
    width: 100%;
    background-color: #FFF;
}


.infoHeastitle{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    font-family: Arial;
}

.infoHead{
    float: left;
    margin-left: 3%;
}

.span2
{
 
   
}



.control2-label{
    margin-top: 15px;
    float: left;
    width: 280px;
 
    text-align: right;
}


.control2-group{
    margin-bottom: 5px;
}


#stylized{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#stylized label{
    margin-top: 2px;
    margin-bottom: 20px;
    font-weight:bold;
    text-align:right;
    width:150px;
    float:left;
}

#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

#stylized input,
#stylized textarea
{
     float:right;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 55px 30px 10px;
}

#stylized ul{
	float:left;
	margin-top: -18px;
	margin-bottom: 5px;
	width: 100%;
}

#stylized li{
	float:left;
	width: 100%;
	margin-bottom: 5px;
	font-size: 11px;
	color: red;
}

#stylized select{
     float:right;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 60px 30px 10px;
}



#stylized button{
	float: left;
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.cpldetailsform{
    padding-top: 25px;
    padding-right: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
	
}

#stylized2{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized2 h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#stylized2 p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#stylized2 label{
    font-weight:bold;
    float: left;
    width:125px;
  
}

#stylized2 .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    width:150px;
}

#stylized2 input{
     float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 55px 30px 10px;
}

#stylized2 ul{
	float:left;
	margin-top: -18px;
	margin-bottom: 5px;
	width: 100%;
}

#stylized2 select{
    float:left;
    font-size:12px;

    border:solid 1px #aacfe4;
    width: 155px;
    margin:0px 20px 30px 25px;
}

#stylized2 checkbox{
    float:left;
    font-size:12px;

    border:solid 1px #aacfe4;
    width: 155px;
    margin:0px 620px 690px 250px;
}

#stylized2 li{
	float:left;
	width: 100%;
	margin-bottom: 5px;
	font-size: 11px;
	color: red;
}


#cplstyle{
    width: 94%;
   
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border:solid 2px #b7ddf2;
}






.search {
    position: relative;
    margin: 0 auto;
   /* width: 800px;*/
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("../../images/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}



.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .search2_suggest .search_suggest .search3_suggest { display: block }


.search .search2_suggest .search_suggest .search3_suggest {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}



.search .search2_suggest .search_suggest .search3_suggest div { display: block }

.search .search2_suggest .search_suggest .search3_suggest div:first-child { margin-top: -1px }

.search .search2_suggest .search_suggest .search3_suggest div:first-child:before,  .search .search2_suggest .search_suggest .search3_suggest div:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .search2_suggest .search_suggest .search3_suggest div:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .search2_suggest .search_suggest .search3_suggest div:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}



.search .search2_suggest .search_suggest .search3_suggest div:first-child:hover:before, .search .search2_suggest .search_suggest .search3_suggest div:first-child:hover:after { display: none }

.search .search2_suggest .search_suggest .search3_suggest div:last-child { margin-bottom: -1px }

.search .search2_suggest .search_suggest .search3_suggest div {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .search2_suggest .search_suggest .search3_suggest div span { font-weight: 200 }

.search .search2_suggest .search_suggest .search3_suggest div:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .search2_suggest .search_suggest .search3_suggest div:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }






.suggest_link {
		background-color: #FFFFFF;
		padding: 2px 6px 2px 6px;
	}
	.suggest_link_over {
		background-color: #3366CC;
		padding: 2px 6px 2px 6px;
	}
/*	#search_suggest {
		position: absolute; 
		background-color: #FFFFFF; 
		text-align: left; 
		border: 1px  #000000;		/** Solid para ver donde esta ubicado Inicio **/	
/*	}*/
  /*   #search2_suggest {
		position: inherit; 
        margin: 0 auto;
		background-color: #FFFFFF; 
		text-align: left; 
        padding: 0 12px 0 25px;
		/**border: 1px  #000000;		/** Solid para ver donde esta ubicado Inicio **/
  /*      background: white
        url("../../images/5JuDgOa.png") 8px 6px no-repeat;

        border-width: 1px;
        border-style: solid;
        border-color: #a8acbc #babdcc #c0c3d2;
        border-radius: 13px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;	
	}		*/
  /* #search3_suggest {
        position: absolute; 
        background-color: #FFFFFF; 
        text-align: left; 
        border: 1px  #000000;       /** Solid para ver donde esta ubicado Inicio **/    
   /* }       */

/**

.search2_suggest input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search2_suggest input:focus + .results { display: block }



.search2_suggest .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search2_suggest .results li { display: block }


*/



/** Edits Cine **/

.edit-cine {
	height: 800px;
	width: 450px;
}

.edit-cine label {
	margin-bottom: 5px !important;
}

.edit-cine input, .edit-cine textarea{
	float:none !important;
}
.edit-cine input[type='text'],
.edit-cine input[type='select'],{
	width: 200px !important;
}

.ui-datepicker {  
    width: 216px;  
    height: auto;  
    margin: 5px auto 0;  
    font: 9pt Arial, sans-serif;  
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
}  


.ui-datepicker-header {  
    background: url('../img/dark_leather.png') repeat 0 0 #000;  
    color: #e0e0e0;  
    font-weight: bold;  
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);  
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    text-shadow: 1px -1px 0px #000;  
    filter: dropshadow(color=#000, offx=1, offy=-1);  
    line-height: 30px;  
    border-width: 1px 0 0 0;  
    border-style: solid;  
    border-color: #111;  
}

.ui-datepicker th {  
    text-transform: uppercase;  
    font-size: 6pt;  
    padding: 5px 0;  
    color: #666666;  
    text-shadow: 1px 0px 0px #fff;  
    filter: dropshadow(color=#fff, offx=1, offy=0);  
}  

.ui-datepicker thead {  
    background-color: #f7f7f7;  
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));  
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );  
    border-bottom: 1px solid #bbb;  
}  

/** End of Edits Cine **/
