html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,
var,form,fieldset,blockquote{
	padding:0;
	margin: 0;
	font-size:100%;
	font-weight:normal;
}
ol{
	margin-left:1.4em;
	list-style: decimal;
}
ul{
	margin-left:1.4em;
	list-style:square;
}
img{
	border: 0;
}

body{
	background-color: #FFF;
	border: 3px solid #85A110;
	width: 760px;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}


h1,h2,h3 {
	color: #BD8100
	font-family: Baskervile, "Palatino Linotype", Times, serif;
	border-top: 2px solid #86A100;
	
}