<h3>Agregar Máquina</h3>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'maquinas',
    array(
       'controller' => 'Maquinas',
        'action'     => 'agregar',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="control-group">
       <label class="control-label" for="Nombre">Máquina: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('maquina')); ?>
           </div>
  </div>    
    
 


 
  


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    
<script type="text/javascript">
       $(function() {
       $("#rol").jCombo('<?php echo $this->url('asyn',
               
               array('controller' => 'AsynController','action'=>'getUsuarioRoles')); ?>', { selected_value : '1' } );
       
     		
        
           
       $("#btn_getvalues").click(function() {
       $("#val_rol").html($("#rol").val() + " => " + $("#rol option:selected").html());             
                    return false;
                    });
                    });
    </script>
</div>