<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('maquinas', array('action'=>'Agregar'));?>">Agregar Máquina (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
   
    <th>Orden</th>

    <th>Máquina</th>
    
    
</thead>
<?php while($maquina = $this->maquina->current()): ?>
<tr>

    <td><?php echo $this->escapeHtml($maquina->orden);?></td>

    <td><?php echo $this->escapeHtml($maquina->maquina);?> </td>

    
</tr>
<?php endwhile; ?>
</table>




