<h3>Agregar Familia</h3>

<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'dppmyeargoal',
    array(
       'controller' => 'Dppmyeargoal',
        'action'     => 'agregar',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Anio: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('anio')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Goal: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('dppm_goal')); ?>
           </div>
  </div>    

 


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>