<?php


$title = 'Eliminar Dppm Goal';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar el Dppm Year Goal <strong> '<?php echo $this->escapeHtml($this->anio); echo " - ";  echo $this->escapeHtml($this->dppm_goal); ?>' ?
</p>
<?php
$url = $this->url('dppmyeargoal', array(
	'controller' => 'Dppmyeargoal',
	'action' => 'eliminar',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $this->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>