<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('dppmyeargoal', array('action'=>'Agregar'));?>">Agregar Goal (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="60%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 80%;">
<thead>
   
    <th><div align="center">Id</div></th>
    <th><div align="center">Anio</div></th>
    <th><div align="center">Dpp Goal</div></th>

    <th><div align="center">Acciones</div></th>
</thead>
<?php while($familia = $this->familia->current()): ?>
<tr>

    <td align="center"><?php echo $this->escapeHtml($familia->id);?></td>
    <td align="center"><?php echo $this->escapeHtml($familia->anio);?> </td>
    <td align="center"><?php echo $this->escapeHtml($familia->dppm_goal);?> </td>
    <td align="center">

        <a href="<?php echo $this->url('dppmyeargoal',
            array('action'=>'editar', 'id' => $familia->id));?>">Editar</a>
        <a href="<?php echo $this->url('dppmyeargoal',
            array('action'=>'eliminar', 'id' => $familia->id));?>">Borrar</a>
    </td>
</tr>
<?php endwhile; ?>
</table>








