<?php
$title = 'Login';
echo $this->headTitle($title);


$form = $this->form;
$form->setAttribute('action', $this->url(
    'core',
    array(
        'controller' => 'Authenticate',
        'action'     => 'auth',
    )
));
$form->prepare();
?>
<?php echo $this->form()->openTag($form);?>

  <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Username">Usuario: </label>
       <div class="col-sm-6">
       <?php echo $this->formRow($form->get('username')); ?>
           </div>
  </div>

  <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="inputPassword">Clave: </label>
         <div class="col-sm-6">
       <?php echo $this->formRow($form->get('password')); ?>
         </div>
  </div>

<div class="form-group">
    <div class="col-sm-6">
        <?php echo $this->formRow($form->get('submit')); ?>
        
    </div>
    
</div>

<?php echo $this->form()->closeTag();
?>


<?php if ($this->messages): ?>
    <ul>
<?php    foreach($this->messages as $message): ?>
           <li class="text-error"><?php echo $message; ?></li>
    <?php endforeach;?>
    </ul>
<?php endif;?>