<?php


$title = 'Eliminar Registro Fuera Especificacion';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar el siguiente Registro Fuera de Especificacion?
</p>
<br>
<table>
<tr>
<td><strong>Cantidad</strong></td>
<td><strong>Cavidad</strong></td>
<td><strong>Dimension </strong></td>
<td><strong>Zona Dibujo</strong></td>
</tr>
<tr>

<td align="center">
<?php echo $this->rowfueraespec->cantidad; ?>
</td>
<td align="center">
<?php echo $this->rowfueraespec->cavidad; ?>
</td>
<td align="center">
<?php echo $this->rowfueraespec->dimension; ?>
</td>
<td align="center">
<?php echo $this->rowfueraespec->zona_dibujo; ?>
</td>
</tr>

</table>
<br>

<?php
$url = $this->url('inspvisual', array(
     			  'controller' => 'InspVisual',
                  'action'     => 'eliminarfueraespec',
                  'id'     => $this->id,
));
?>

<form action="<?php echo $url; ?>" method="post">
<div>
  
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>



