
<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>
<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'inspvisual',
    array(
       'controller' => 'InspVisual',
        'action'     => 'regfueraespec',
  		'id'     => $this->id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);

echo $this->formHidden($form->get('visual_id'));
?>

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Cantidad: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('cantidad')); ?>
           </div>
  </div>    
    
 <br><br>

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Cavidad: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('cavidad')); ?>
           </div>
  </div>    
    
 
 <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Dimension: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('dimension')); ?>
           </div>
  </div>    
  
   <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Zona Dibujo: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('zona_dibujo')); ?>
           </div>
  </div>   
<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>

<?php echo $this->formRow($form->get('submit2'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>

<br><br>



<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
    <th>Dimensional_id</th>
    <th>Cantidad</th>
    <th>Cavidad</th>
    <th>Dimension</th>
    <th>Zona Dibujo</th>
    <th>Acciones</th>
    
</thead>
<?php while($registro = $this->registro->current()): ?>
<tr>
    <td align="center"> <?php echo $this->escapeHtml($registro->visual_id);?></td>
    <td align="center"><?php echo $this->escapeHtml($registro->cantidad);?> </td>
    <td align="center"><?php echo $this->escapeHtml($registro->cavidad);?> </td>
    <td align="center"><?php echo $this->escapeHtml($registro->dimension);?> </td>
    <td align="center"><?php echo $this->escapeHtml($registro->zona_dibujo);?> </td>
        <td align="center">

 <a href="<?php echo $this->url('inspvisual',array( 
                                 'controller' => 'InspVisual',
                                 'action'     => 'eliminarfueraespec',
                                 'id'     => $registro->id,));?>">Borrar Registro</a>


        </td>
</tr>
<?php endwhile; ?>
</table>