<script type="text/javascript">

 $(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});


</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'maquinasactivas',
    array(
       'controller' => 'Maquinasactivas',
        'action'     => 'agregar',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Fecha: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('fecha')); ?>
           </div>
  </div>    
    
 

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Turno: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('turno')); ?>
           </div>
  </div>    
    
 
 <div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Comentarios: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('comentarios')); ?>
           </div>
  </div>    
  


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>