<script type="text/javascript">

 $(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});


</script>


<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<script>
   // Keep all submit buttons from working
   $('input:submit').live('click', function () {
      return false;
   });

   // After everything loads, remove the restriction
   $(window).load(function(){
       $('input:submit').die();
   });
</script>

<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'maquinasactivas',
    array(
       'controller' => 'Maquinasactivas',
       'action'     => 'agregarmaquinas',
       'id'     => $this->id,

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">ID Captura: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('maquinas_activas_id')); ?>
           </div>
  </div>    
    
 

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Máquina: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('maquina_id')); ?>
           </div>
  </div>    
    
 
  


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    
<script type="text/javascript">
       $(function() {
       $("#maquina_id").jCombo('<?php echo $this->url('async',
               array('controller' => 'AsyncController','action'=>'getMaquinasNot')); ?>/<?php echo $this->id; ?>', { selected_value : '<?php echo $this->nextSelect; ?>' } );
       
        
        
           
       $("#btn_getvalues").click(function() {
       $("#val_rol").html($("#maquina_id").val() + " => " + $("#maquina_id option:selected").html());             
                    return false;
                    });
                    });
    </script>


</div>

<br><br><br>

<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
    <th>Fecha</th>
    <th>Id Captura</th>
    <th>Máquinas</th>
     <th>Acciones</th>

</thead>
<?php while($maquina = $this->mdetalle->current()): ?>
<tr>

    <td align="center"> <?php echo $this->fechaHelper($maquina->timestamp);?></td>

    <td align="center"><?php echo $this->escapeHtml($maquina->maquinas_activas_id);?> </td>

  <td align="center"><?php echo $this->MaquinasNombreHelper($maquina->maquina_id);?> </td>
    
    <td align="center">

        <a href="<?php echo $this->url('maquinasactivas',
            array('action'=>'eliminar', 'id' => $maquina->id));?>">Borrar Máquina de Captura</a>
        
    </td>

</tr>
<?php endwhile; ?>
</table></div>