<?php


$title = 'Eliminar Maquina';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/><br/>
<p>Estas seguro de eliminar la maquina '<?php echo $this->escapeHtml($this->maquina); ?>' del recorrido 
    '<?php echo $this->escapeHtml($this->id); ?>'?
</p>
<?php
$url = $this->url('maquinasactivas', array(
    'action' => 'eliminar',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $maquinasactivas->id; ?>" />
    <input type="submit" name="del" value="Si" />
    <input type="submit" name="del" value="No" />
</div>
</form>