<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
        "iDisplayLength":25,
        "aaSorting": [[ 0,"desc"]]
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>


<p>
   <i class="icon-plus-sign"></i> <a href="<?php echo $this->url('maquinasactivas', array('action'=>'Agregar'));?>">Agregar Captura (+)</a>
</p>
<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
     <th>ID Captura</th>
    <th>Fecha</th>
    <th>Turno</th>
    <th>Máquinas Capturadas</th>
     <th>Acciones</th>

</thead>
<?php while($maquina = $this->maquina->current()): ?>
<tr>
 <td align="center"><?php echo $this->escapeHtml($maquina->id);?></td>
    <td align="left"> <?php echo $this->fechaHelper($maquina->fecha,true,true);?></td>

    <td align="center"><?php echo $this->escapeHtml($maquina->turno);?> </td>

	<td align="center"><?php echo $this->MaquinasCapturadasHelper($maquina->id);?> </td>
    
	  <td align="center">

        <a href="<?php echo $this->url('maquinasactivas',
            array('action'=>'agregarmaquinas', 'id' => $maquina->id));?>">Agregar Máquina</a>
        
    </td>

</tr>
<?php endwhile; ?>
</table>








