<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <?php echo $this->headTitle('Hunter Industries'. $this->translate(''))->setSeparator(' - ')->setAutoEscape(false) ?>

       <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
       <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/core/core.css')
                      //  ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        //->prependStylesheet($this->basePath() . '/css/bootn/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                          ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
                      //  ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                      //  ->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery-ui.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery.ptTimeSelect.css')
                         ?>
    
        <?php echo $this->headScript()
                        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                        ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
                       // ->prependFile($this->basePath() . '/js/ttw-notification-menu.min.js')
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
                        ->prependFile($this->basePath() . '/js/jquery.ptTimeSelect.js')
                       // ->prependFile($this->basePath() . '/js/ui.slider.js')    
                        ->prependFile($this->basePath() . '/js/jCombo.js')
                      //  ->prependFile($this->basePath() . '/js/jqueryui.js')
                      //  ->appendFile($this->basePath() . '/js/bootstrap-dropdown.js')
                     //   ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.autocomplete.js') // jlopez - add to autcomplte in logistica
                      //  ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/minified/jquery.ui.menu.min.js') // jlopez - add to complete in logistica

                        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.accordion.js')
                        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.tabs.js')
                        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.widget.js')
                        ->prependFile($this->basePath()  . '/jquery-ui/development-bundle/ui/jquery.ui.core.js')
                        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
                        ->prependFile($this->basePath() . '/highcharts/js/highcharts.js') 
                       // ->prependFile($this->basePath() . '/js/jquery.mini.js') 
                        ->prependFile($this->basePath()  . '/js/searchajax.js') 

                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.js')
                        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
                        ->prependFile($this->basePath() . '/js/jquery.mtz.monthpicker.js')
                        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                        ->prependFile($this->basePath() . '/js/jquery.min.js')
                       ->prependFile($this->basePath() . '/js/jquery-2.0.3.js')
                      //  ->prependFile($this->basePath() . '/js/jqueryui.js')
        ?>
        

    </head>
    <body>
              <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img height="19" width="94" src="<?php echo $this->basePath('images/Hunter_Logow2.png') ?>" alt="Zend Framework 2"/>&nbsp;</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">

        

      <li><a href="/calidad/public/logout">Salir</a></li>
       <li><a href="/calidad/public/log">Registro</a></li>
      <li ><a href="/calidad/public/inicio">Inicio</a></li>
      <li ><a href="/calidad/public/usuarios">Usuarios</a></li>

 <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuracion <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/calidad/public/maquinas">Maquinas</a></li>
          <li><a href="/calidad/public/moldes">Moldes</a></li>
          <li><a href="/calidad/public/partes">Partes</a></li>
          <li><a href="/calidad/public/partesmoldes">Partes-Moldes</a></li>
          <li><a href="/calidad/public/familias">Familias</a></li>
          <li><a href="/calidad/public/dppmyeargoal">Dppm Goal</a></li>
        </ul>
      </li>

      
      <li ><a href="/calidad/public/maquinasactivas">Capturas</a></li>
      <li ><a href="/calidad/public/reginspeccion/index">Registro Inspeccion</a></li>

   <li ><a href="/calidad/public/dppmgraph">Grafica Dppm</a></li> 

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/calidad/public/reporterechazos">Reporte Rechazos</a></li>
          
        </ul>
      </li>
      </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
       
        
         <div class="col-md-12" >


            <div class="row">
            <div class="col-md-2" >
                <div class="sideData">
                <div style="vertical-align: bottom;">
                  <img style=" margin-top:3%;" src="<?php echo $this->basePath(); ?>/images/download.jpg" width="25%" height="25%" >
                   <strong><?php echo $this->layout()->usuario;?> </strong>
               </div>
               <div style="margin-top: 15%; font-size:12px;">
                 <p>
                 Último login: <strong> <?php echo $this->fechaHelper($this->layout()->lastLogin);?> </strong>
                </p>
                <br>
                 <table width="90%">
                    <tr>
                    <td align="center" style="color: #4B3F3B; font-family: Arial; font-size: 100%; font-weight: bold;">Último Movimiento  </td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #DC4520; font-size: 110%;">
                          <strong> <?php echo $this->layout()->lastAction;?> </strong>
                        </td>
                    </tr>

                </table>
                </p>
              </div>
               <div > 
                <?php echo $this->sideBar; ?>

               </div>

               </div>
               <div style="margin-top: 202%; width: 100%;" >
                <div style="float: left; width: 8%; height: 80px; background-color: #46ABD1;">
                
                </div>
                  <div style="margin-left: 2%; float:left; width: 90%; height: 80px; background-color: #005487;">
                 <img style="margin-left:50%; margin-top:7%;" src="<?php echo $this->basePath(); ?>/images/Hunter_Logow.png" width="45%" height="45%" >
                 <div style="margin-left: 45%; font-size:11px; color: #FFF;" >
                 IS Tijuana - Daniel Gomez
                </div>
                </div>

               
                
                
                </div>
                </div>
             
             <div class="col-md-9" align="center" >
      <!--Body content-->
           <?php echo $this->content; ?>

            
            
            
    </div>
  </div>


       
        </div> <!-- /container -->
    
    
    
    
    </body>
</html>