<?php echo $this->doctype(); ?>
<html lang="en">
     <head>
        <meta charset="utf-8">
        <?php 
    // echo  $this->headLink()->prependStylesheet($this->basePath() . '/css/core/solicitudes.css');
     echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/error_layout/css/stylesheet.css')
                        ->prependStylesheet($this->basePath() . '/error_layout/css/red.css')
        
        ?>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
        
        <script type="text/javascript">
        google.load("jquery", "1.3.1");
        google.setOnLoadCallback(function() {
             
             //---------------- ColorChanger ----------------//
             
             // Change stylesheet to Blue    
             $(".colorblue").click(function(){
                $("link").attr("href", "css/blue.css");
                return false;
            });
               
            // Change stylesheet to Red
            $(".colorred").click(function(){
                $("link").attr("href", "css/red.css");
                return false;
            });
            
            // Change stylesheet to Grey
            $(".colorgrey").click(function(){
                $("link").attr("href", "css/grey.css");
                return false;
            });
            
            // Change stylesheet to Brown
            $(".colorbrown").click(function(){
                $("link").attr("href", "css/brown.css");
                return false;
            });
            
            // Change stylesheet to Brown
            $(".colorgreen").click(function(){
                $("link").attr("href", "css/green.css");
                return false;
            });
            
            
            //---------------- Show and hide Colorchanger ----------------//
            
            $("#colors").hide();
            
            // Show colors when #showChanger clicked
            $("a#showChanger").click(function() {
                $("#colors").slideToggle("slow");
            });
        });
        </script> 
        
        <!-- PNGFix for IE6 -->
        <script type="text/javascript" src="error_layout/js/jquery.pngFix.js"></script> 
        
        <!-- Active pngfix -->
        <script type="text/javascript"> 
            $(document).ready(function(){ 
            $(document).pngFix(); 
        }); 
        </script> 

     </head>
     <body>
   
    <!-- End colorchanger div -->

    <!-- Warp around everything -->
    <div id="warp">
    
        
        <!-- Header top -->
        <div id="header_top"></div>
        <!-- End header top -->
        
        
        <!-- Header -->
        <div id="header">
            <h2>Oops, Pagina no disponible</h2>
            <h5>No tienes privilegios para ver esta seccion.</h5>
        </div>
        <!-- End Header -->
        
        
        <!-- The content div -->
        <div id="content">
        
            <!-- text -->
            <div id="text">
                <!-- The info text -->
                <p>Esta pagina aparece porque no tienes privilegios para ver esta seccion, contacta al administrador para solicitar acceso.</p>
                <br />
                <h3>Lost? Links sugeridos...</h3>
                <!-- End info text -->
                
                <!-- Page links -->
                <ul>
                    <li><a href="http://10.20.1.29/calidad/public/inicio">&raquo; INICIO</a></li>
                   
                </ul>
                <!-- End page links --> 
            </div>
            <!-- End info text -->
        
        
            <!-- Book icon -->
            <img id="book" src="error_layout/images/img-01.png" alt="Book iCon" />
            <!-- End Book icon -->
            
            <div style="clear:both;"></div>
        </div>
        <!-- End Content -->
        
        
        <!-- Footer -->
        <div id="footer">
            
            <!-- Twitter -->
           
        <!-- End Twitter -->
            
            
            <!-- Search Form -->
           
            <!-- End Search form -->
            
            <div style="clear:both;"></div>
        </div>
        <!-- End Footer -->
        
        
        <!-- Footer bottom -->
        <div id="footer_bottom"></div>
        <!-- End Footer bottom -->
    
    
        <!-- Social Media list -->
      
        <!-- End Social media -->
        
        
        <div style="clear:both;"></div>


    </div>
    <!-- End Warp around everything -->
    
     </body>
</html>