<?php echo $this->doctype(); ?>
<html lang="en">
     <head>
        <meta charset="utf-8">
        <?php 
           echo $this->headTitle('Hunter Industries'. $this->translate(''))->setSeparator(' - ')->setAutoEscape(false);
    // echo  $this->headLink()->prependStylesheet($this->basePath() . '/css/core/solicitudes.css');
     echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style_login.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css');
        
        
        ?>
     </head>
     <body>
         <div class="header">
                
                 <h1 class="">Inspecci&oacute;n de Calidad en Moldeo</h1>
                 
             </div>
         <div class="container">
            
             <div class="content" >
                    <?php echo $this->content; ?>
                 
             </div>
            
         </div>
         <div class="footer_esquina">
         </div>

          <div class="footer">
                 
                 <img style="margin-left: 80%; margin-top:3%;" src="images/Hunter_Logow.png" width="20%" height="70%" >
             </div>
     </body>
</html>