<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Hunter '. $this->translate(''))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
       <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                           ->prependStylesheet($this->basePath() . '/css/core/core.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/css/plantstart.css')
 ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                         ?>

        <!-- Scripts -->
        <?php echo $this->headScript()

                                    ->prependFile($this->basePath() . '/js/ttw-notification-menu.min.js')   
                                    ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
                                    ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
                                         ->prependFile($this->basePath() . '/js/ui.slider.js')    
                                      ->prependFile($this->basePath() . '/js/jCombo.js')
                                     ->prependFile($this->basePath() . '/js/jqueryui.js')
         ->appendFile($this->basePath() . '/js/bootstrap-dropdown.js')
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.autocomplete.js') // jlopez - add to autcomplte in logistica
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/minified/jquery.ui.menu.min.js') // jlopez - add to complete in logistica
        
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.accordion.js')
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.tabs.js')
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.widget.js')
        ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.core.js')
         ->prependFile($this->basePath() . '/js/jquery.mini.js') 
        ->prependFile($this->basePath() . '/js/jquery.mini.js') 
        ->prependFile($this->basePath() . '/js/searchajax.js')              
       
        ->prependFile($this->basePath() . '/jquery-ui/js/jquery-1.8.3.js')


                                      ?>
        

    </head>
    <body>
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    
                    <div class="nav-collapse collapse">
                       
                            <?php echo $this->navigation('navigation')->menu()->setUlClass('nav'); ?>
                            
                        
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
       
        
       <div class="container-fluid" >
        <div class="row-fluid">
            <div class="span2" >
  <div class="sideData">
                <div style="vertical-align: bottom;">
                  <img style=" margin-top:3%;" src="<?php echo $this->basePath(); ?>/images/download.jpg" width="25%" height="25%" >
                   <strong><?php echo $this->layout()->usuario;?> </strong>
               </div>
               <div style="margin-top: 15%; font-size:12px;">
                 <p>
                 Último login: <strong> <?php echo $this->fechaHelper($this->layout()->lastLogin);?>  </strong>
                </p>
                <br>
                 <table width="90%">
                    <tr>
                    <td align="center" style="color: #4B3F3B; font-family: Arial; font-size: 100%; font-weight: bold;">Último Movimiento  </td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #DC4520;">
<strong> <?php echo $this->layout()->lastAction;?> </strong>
                        </td>
                    </tr>

                </table>
                </p>
              </div>
               

               </div>
            <div style="margin-top: 220%; width: 100%;" >
                <div style="float: left; width: 8%; height: 80px; background-color: #46ABD1;">
                
                </div>
                  <div style="margin-left: 2%; float:left; width: 90%; height: 80px; background-color: #005487;">
                 <img style="margin-left:50%; margin-top:7%;" src="<?php echo $this->basePath(); ?>/images/Hunter_Logow.png" width="45%" height="45%" >
                 <div style="margin-left: 45%; font-size:11px; color: #FFF;" >
                 IS Tijuana - Daniel Gomez
                </div>
                </div>

               
                
                
                </div>
                </div>
             
             <div class="span10" align="center">
 <div class="navbar">
  <div class="navbar-inner2">
   
    <ul class="nav">
     
      <li class="<?php echo $this->layout()->tab1;?>"><a href="<?php echo $this->url('maquinas',array(
           'controller' => 'maquinas',
           'action'=>'index',)) ?>">Máquinas</a> </li>
     <li class="<?php echo $this->layout()->tab2;?>"><a href="<?php echo $this->url('moldes',array(
           'controller' => 'moldes',
           'action'=>'index',)) ?>">Moldes</a> </li>
     <li class="<?php echo $this->layout()->tab3;?>"> <a href="<?php echo $this->url('partes',array(
           'controller' => 'partes',
           'action'=>'index',)) ?>">Partes</a> </li>
    
     <li class="<?php echo $this->layout()->tab4;?>"> <a href="<?php echo $this->url('partesmoldes',array(
           'controller' => 'partesmoldes',
           'action'=>'index',)) ?>">Partes-Moldes</a> </li>
    
    <li class="<?php echo $this->layout()->tab5;?>"> <a href="<?php echo $this->url('familias',array(
           'controller' => 'familias',
           'action'=>'index',)) ?>">Familias</a> </li>

      
    </ul>
 </div>
</div>


            <?php echo $this->content; ?>
            <hr>
        </div> <!-- /container -->
    </div>
    </div>
    
    
    
    </body>
</html>