<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>
<script type="text/javascript">
  $(function() {
    $('#inputDate').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'yy-mm',
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
    });
});

</script>
<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>


<div style=" width: 100%; margin-bottom: 25px; height: 100px">



<div style="float: left; width: 100%; margin-left: 25px;  margin-top: 15px;" align="center">

<h2><?php echo $this->titulo; ?><small><?php echo $this->subtitle; ?> </small></h2>


</div>



</div>




<div class="agregaUsuario" align="center">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'reporech',
    array(
       'controller' => 'RechazosPorPeriodo',
        'action'     => 'Index',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="control-group">
       <label class="control-label" for="Nombre">Selecciona el mes: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('selectYearMonth')); ?>
           </div>
  </div>    
    
 

   
    
 


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>