<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable({
          "iDisplayLength":50,
          "aaSorting": [[ 5, "desc" ]],
          "sPaginationType": "full_numbers",
          "sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
    });
} );


$('.dropdown-toggle').dropdown()
</script>


<?php

?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<br/>
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%;">
<thead>
    <th>BD ID</th>
    <th>Fecha Captura</th>

    <th>Capturista</th>
    <th># Parte</th>
    <th>Cant Inps Visual</th>
    <th>Defectos Visuales</th>
    <th>Comentarios Visuales</th>
     <th>Cant Inps Dim</th>
     <th>Defectos Dimensionales</th>
    <th>Comentarios Dimensionaes</th>
    
</thead>
<?php foreach ($resultQuery as $result) : ?>



<tr>
    <td><?php echo $this->escapeHtml($result['id']);?></td>
    <td style="width: 9%;" align="center"><?php echo $this->escapeHtml($result['fecha_captura']);?></td>

    <td style="width: 16%;" align="center"><?php echo $this->escapeHtml($result['capturista']);?> </td>
    <td><?php echo $this->escapeHtml($result['num_parte']);?> </td>
    <td style="width: 8%;" align="center"><?php echo $this->EmptyToZeroHelper($result['cantidad_inspeccionada']);?> </td>
    <td style="width: 8%;" align="center"><?php echo $this->EmptyToZeroHelper($result['visual_defectos']);?> </td>
   <td><?php echo $this->escapeHtml($result['comentarios']);?> </td>
   <td style="width: 8%;" align="center"><?php echo $this->EmptyToZeroHelper($result['cantidad_inspeccion']);?> </td>
   <td  style="width: 8%;" align="center" ><?php echo $this->EmptyToZeroHelper($result['fuera_especificacion']);?> </td>
   <td><?php echo $this->escapeHtml($result['comentarios1']);?> </td>
    
</tr>
<?php endforeach; ?>
</table>








